.Services
    &-container
        padding: 150px 0 0px
        display: flex 
        align-items: center
        flex-direction: column
        .main-title 
            position: relative
            font-size: 3.5rem
            margin-bottom: 40px
            &::after
                position: absolute 
                content: ""
                bottom: -8px 
                left: 50% 
                height: 4px
                width: 60px
                background: #009CFF
                transform: translate(-50%)
                border-radius: 30px

        .main-desc
            text-align: center
            color: #434952
            max-width: 800px
            line-height: 1.7rem

    &-list 
        margin: 30px 0
    a 
        padding: 5px 8px
        text-decoration: none
        text-transform: uppercase
        font-size: .70rem
        font-weight: bold
        color: #333333
        transition: color .4s
        &:hover 
            color: #009CFF
        &.blue 
            color: #009CFF
    

.All-Services
    max-width: 1200px
    width: 90%
    margin: 0 auto
    padding-bottom: 150px
    display: grid 
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr))
    grid-gap: 30px
    justify-items: flex-start

    .single-service
        width: 100%
        min-width: 270px
        border: 1px solid #e4e3e3d5
        &:hover .img-container::after 
            z-index: 3
            content: ""
            position: absolute
            width: 100%
            height: calc(100% - 4px) 
            top: 0
            left: 0
            background: #00000050

        
        .img-container
            position: relative
            
        img 
            width: 100%
            height: 253px
            object-fit: cover

            

        .info
            padding: 25px 
            h2 
                margin: 12px 0
                font-size: 1rem
                font-weight: 400
                letter-spacing: .5px
                &:before 
                    color: transparent
            p 
                letter-spacing: .5px
                font-size: 1rem
                font-weight: 100
                line-height: 1.6rem

            button 
                margin-top: 20px
                background: #009CFF
                border-style: none
                padding: 10px 15px
                letter-spacing: .5px
                font-weight: bold
                color: white
                cursor: pointer
