.Details
    .flex 
        display: flex
    .margin-5-r
        margin-right: 50px
        
    &-container
        margin-top: 70px
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))

    &-info
        h1 
            color: #009CFF
            font-size: 2.5rem
            margin-bottom: 20px
        p 
            line-height: 2rem
            font-size: 1.1rem

            span 
                font-weight: bolder

    .img-container 
        display: flex 
        align-items: center 

        .bg-pic
            background: #eeeeee
            border-radius: 5px
            margin-left: 10px
            box-shadow: 2px 2px 8px -3px #00000071

        .sm-img-container 
            display: flex 
            flex-direction: column
            align-content: center

            .sm-pic 
                background: #eeeeee
                border-radius: 5px
                padding: 5px
                opacity: .8
                height: 60px
                width: 60px
                margin-bottom: 10px
                object-fit: cover
                cursor: pointer

                &:hover 
                    opacity: 1
    &-btn-container 
        display: flex
        align-items: center
        margin-top: 30px

        h3.price 
            font-size: 1.6rem
            margin-right: 25px
            display: flex

            span 
                font-size: 1rem

        button 
            padding: 10px 30px
            border-radius: 40px
            border-style: none
            color: white
            background: #009CFF
            font-weight: bolder
            font-size: .9rem
            letter-spacing: .5px
            cursor: pointer
            transition: background .4s

            &:hover 
                background: darken(#009CFF, 10%)