.Testimonials 
    background: #2B2B2B
    color: white
    padding: 100px 0
    h1.main-title 
        font-weight: 500 
        margin-bottom: 23px 
        position: relative
        font-size: 1.6rem
        &:after 
            position: absolute 
            content: ""
            left: 0
            bottom: -10px
            width: 30px 
            height: 1px 
            border-radius: 10px
            background: #009CFF

    p.main-desc
        max-width: 450px

    .Slider 
        margin-top: 40px
        max-width: 500px
        h3 
            font-weight: 100 
            font-size: .9rem
            line-height: 1.4rem